{{!-- category dropdown --}}
<div class="row mt-3">
  <div class="col-6 mx-auto">
    <form action="/category" method="POST">
      <select class="form-select form-select-lg mb-3" id="category" name="category" aria-label=".form-select-lg example">
        <option selected>類別</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </form>
  </div>
</div>
{{!-- total amount --}}
<div class="row mt-3">
  <div class="col-6 mx-auto">
    <div class="row fw-bold">
      <div class="col-3 align-self-start fs-3">
        總金額：
      </div>
      <div class="col-9 text-end align-self-end" style="font-size: 90px; color: orange;">
        {{ totalAmount }}
      </div>
    </div> 
  </div>
</div>
{{!-- item list --}}
<div class="row mt-3">
  <div class="col-3"></div>
  <div class="col-9 mx-auto">
    <ul class="list-group fw-bold">
    {{#each records}}
      <li class="row">
        <div class="col-8 list-group-item list-group-item-light">
          <div class="row">
            <i class="fa-solid {{ this.category }} fa-utensils col-2 align-self-center text-end" style="font-size: 55px; color: lightblue"></i>
            <div class="col-7 align-self-center">
              <h3 class="fw-bold"></h3>
              <h5 class="fw-bold"></h5>
            </div>
            <div class="col-3 text-end align-self-center fs-2"></div>
          </div>
        </div>
        <div class="col-4 text-center align-self-center">
          <form action="/records/{{ this._id }}/delete?_method=DELETE" method="POST">
            <a href="/records/{{ this._id }}/edit" class="btn btn-link text-decoration-none text-reset fs-3 fw-bold">修改</a>
            <button type="submit" class="btn btn-link text-decoration-none text-reset fs-3 fw-bold" style="display: inline;">刪除</button>
          </form>
        </div>
      </li>
    {{/each}}
    </ul>
  </div>
</div>
{{!-- create item --}}
<div class="row mt-5">
  <a href="/records/new" type="button" class="btn btn-warning col-4 mx-auto fs-3 fw-bold">新增支出</a>
</div>