<div class="row mt-3">
  <div class="col-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center fw-bold">Login</h1>
        {{> message}}
        <form action="/users/login" method="POST" class="fs-4">
          <div class="mb-3">
            <label for="email" class="form-label">User Email：</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="login with email" value="{{ email }}">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">User Password：</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="your password here" value="{{ password }}">
          </div>
          <button type="submit" class="btn btn-primary col-12 my-3 fs-4">Login</button>
        </form>
        <p class="mt-2">No Account? <a href="/users/register">Register</a></p>
      </div>
    </div>
  </div>
</div>